//fonts 
@font-face {
    font-family: "Skeena";
    src: url("~@/assets/font/Skeena.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Skeena-Display";
    src: url("~@/assets/font/Skeena-Display.ttf");
    font-weight: normal;
    font-style: normal;
}
.f-display{
    font-family: "Skeena-Display";
}
//variables

$primary-color: #1A1E25;
$secondary-color: #C62828;


//reset
 
html{
    display: block;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
*{
    font-family: "Skeena";
    font-size: 16px;
    line-height: 24px;
    color: $primary-color;
    box-sizing: border-box;
}


body{
    display: block;
    background: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

ul,li,ol,p,img,h1,h2,h3,h4,h5,h6,input,button,nav {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: normal;
}
input , textarea {
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}
button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}
a{
    text-decoration: none;
}
blockquote, q{
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
img {
  max-width: 100%;
  height: auto;
}
#webgl-brush{
  pointer-events: none;
}
.noisy{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('~@/assets/img/noise.gif');
  background-size: 100px 100px;
  opacity: .14;
}

//resolutions
@media(max-width: 1900px){
}
@media(max-width: 1599px){
}
@media(max-width: 1439px){
}
@media(max-width: 1365px){
}
@media(max-width: 1023px){
}
@media(max-width: 767px){
}

//img absolute
.img-absolute{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


//containers

.container{
    width: 100%;
    max-width: 1920px;
    padding: 0 184px;
    margin: 0 auto;
}
.sm-container{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 360px;
}
@media(max-width: 1900px){
    .container{
        padding: 0 56px;
    }
    .sm-container{
        padding: 0 180px;
    }
}
@media(max-width: 1599px){
    .container{
        padding: 0 56px;
    }
    .sm-container{
        padding: 0 165px;
    }
}
@media(max-width: 1439px){
    .sm-container{
        padding: 0 128px;
    }
}
@media(max-width: 1365px){
    .sm-container{
        padding: 0 56px;
    }
}
@media(max-width: 1023px){
    .container{
        padding: 0 40px;
    }
}
@media(max-width: 767px){
    .container{
        padding: 0 16px;
    }
    .sm-container{
        padding: 16px;
    }
}

 
//font sizes
%largest {
  font-size: 100px;
  line-height: normal;
  letter-spacing: 8%;
}
%large {
  font-size: 90px;
  line-height: normal;
}
%medium {
  font-size: 56px;
  line-height: normal;
}
%small {
  font-size: 34px;
  line-height: 51px;
}
%smallest {
  font-size: 22px;
  line-height: 33px;
}

@media(max-width: 1900px){
}
@media(max-width: 1599px){
    %largest {
      font-size: 90px;
    }
    %large {
      font-size: 80px;
    }
}
@media(max-width: 1439px){
}
@media(max-width: 1365px){
    %largest {
      font-size: 60px;
    }
    %large {
      font-size: 60px;
    }
    %medium {
      font-size: 34px;
    }
    %small {
      font-size: 22px;
      line-height: 33px;
    }
    %smallest {
      font-size: 16px;
      line-height: 18px;
    }
}
@media(max-width: 1023px){
}
@media(max-width: 767px){
    %largest {
      font-size: 40px;
    }
    %large {
      font-size: 40px;
    }
}


//text vertical
%text-vertical {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

//underline
%text-underline {
  position: relative;
  padding-bottom: 2px;
}
%text-underline:after {
    content: '';
    position: absolute;
    display: inline-block;
    width: calc(100% + 12px);
    height: 8px;
    background-size: calc(100% + 12px) 8px;
    background-image: url("data:image/svg+xml,%3Csvg width='556' height='8' viewBox='0 0 256 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_134_2072)'%3E%3Cpath d='M127.144 2.47607C124.432 2.26687 121.866 2.59504 119.088 2.48674C122.739 2.02696 127.194 1.86936 131.528 2.04671C131.526 2.29586 129.732 2.11005 129.517 2.36614C131.653 2.46569 133.792 2.23163 135.928 2.31007C136.162 2.45953 135.563 2.48063 135.136 2.50717C134.708 2.53372 134.281 2.52225 133.896 2.54909C133.708 2.55569 133.529 2.5698 133.371 2.59056C133.213 2.61132 133.079 2.63831 132.978 2.66992C132.876 2.70154 132.808 2.73713 132.778 2.77454C132.748 2.81196 132.757 2.85043 132.804 2.88767C132.995 3.05372 133.721 3.07153 134.405 3.09747C134.49 3.10019 134.576 3.1008 134.661 3.09928C136.799 2.96235 139.363 3.02268 141.416 2.76269C141.758 2.71443 142.207 2.7007 142.165 2.59483C142.123 2.48895 141.632 2.43903 141.12 2.40163C140.607 2.36422 139.986 2.48231 139.325 2.38895C139.326 2.20314 140.16 2.1668 140.886 2.17615C144.711 2.20317 148.409 1.99279 152.255 2.07063C153.258 2.10628 154.28 2.0668 155.119 1.95995L149.884 1.8343C149.885 1.79207 149.885 1.74562 149.885 1.70339C151.894 1.71758 153.881 1.73161 155.868 1.74565C156.167 1.74776 156.68 1.78095 156.765 1.82378C157.446 2.17911 158.9 2.0669 160.203 2.09722C160.396 2.01412 158.944 1.92363 160.205 1.84807C161.607 1.79342 163.058 1.79363 164.479 1.84869C168.63 1.88067 172.768 1.99764 176.827 2.19774C179 2.28561 181.213 2.31685 183.408 2.29066C185.555 2.35384 187.729 2.33768 189.818 2.24303C190.148 2.22837 190.494 2.23081 190.823 2.25013C193.502 2.3176 196.198 2.33664 198.878 2.30702C201.506 2.32558 204.113 2.2891 206.72 2.2864C211.708 2.24765 216.72 2.31136 221.677 2.4765C225.932 2.6452 230.283 2.653 234.497 2.49948C235.726 2.44923 237.008 2.45828 238.236 2.52589C239.55 2.60569 240.918 2.63824 242.274 2.62198C246.399 2.54131 250.372 2.79319 254.41 2.87238C254.816 2.87525 255.328 2.87888 255.413 2.98927C255.432 3.03237 255.379 3.07502 255.263 3.11078C255.148 3.14654 254.975 3.17345 254.771 3.18745C254.409 3.22513 254.008 3.24677 253.595 3.25093C249.77 3.22392 246.009 3.30293 242.227 3.33112C241.137 3.34185 240.069 3.38706 239.063 3.46502C237.974 3.54937 236.861 3.62187 235.728 3.68219C233.099 3.8072 232.565 3.74853 231.351 3.22897C228.123 3.42154 224.641 3.27025 221.371 3.41608C218.652 3.51214 216.001 3.66469 213.461 3.87122C213.118 3.91629 212.704 3.93713 212.286 3.93048C208.883 3.87093 205.52 4.04235 202.752 4.41637C201.768 4.53189 200.87 4.64801 199.803 4.44199C199.736 4.43028 199.655 4.4224 199.568 4.41922C198.336 4.34728 197.031 4.36043 195.871 4.45645C194.653 4.55342 194.442 4.15074 193.181 4.16295C191.92 4.17517 190.66 4.14514 189.378 4.1572C189.184 4.15882 188.998 4.17088 188.839 4.19209C188.681 4.2133 188.557 4.24285 188.479 4.27756C189.61 4.46292 190.959 4.09236 192.261 4.36761C189.93 4.55962 187.484 4.69544 184.971 4.77221C182.258 4.77969 179.586 4.87642 177.063 5.05843C176.685 5.09657 176.249 5.10835 175.824 5.0919C172.513 4.91227 169.199 5.11691 165.824 5.02128C162.639 4.95145 159.445 4.91339 156.252 4.90722C153.825 4.83221 151.363 4.87275 149.071 5.02543C147.788 5.14306 146.251 4.92527 144.798 5.01635C144.798 5.01635 144.413 4.9883 144.413 4.97141C144.416 4.54912 143.069 4.78033 142.278 4.82119C139.395 5.00144 136.356 5.07722 133.302 5.04496C131.473 5.01592 129.645 5.05604 127.916 5.16318C134.13 5.69272 139.988 5.31178 145.8 5.28949C145.948 5.49324 145.286 5.47167 144.88 5.49414C142.243 5.59756 139.657 5.74023 137.142 5.92093C136.915 5.94175 136.668 5.95294 136.415 5.9538C133.425 5.93879 130.518 6.1087 128.099 6.43984C127.81 6.47933 127.462 6.49926 127.105 6.49674C126.748 6.49422 126.4 6.46938 126.112 6.4258C127.053 6.28464 128.549 6.29098 128.68 5.95828C128.68 5.84849 129.898 5.91199 130.518 5.86992C130.68 5.86306 130.822 5.84461 130.916 5.81805C131.011 5.79149 131.052 5.75865 131.032 5.72574C131.032 5.64972 130.862 5.57673 130.499 5.56995C128.148 5.51956 125.673 5.11355 123.511 5.62617C123.083 5.72872 122.4 5.65209 121.823 5.6438C119.323 5.62614 116.803 5.44364 114.301 5.63291C112.873 5.75031 111.335 5.81114 109.77 5.81206C109.257 5.80262 108.752 5.8323 108.359 5.895C107.075 6.20266 105.281 6.10553 103.678 6.11955C101.733 6.13116 99.7677 6.09194 97.8233 6.0782C97.3007 6.0605 96.8106 6.01297 96.414 5.94155C98.5517 5.80884 100.072 5.38882 102.827 5.51386C103.344 5.52608 103.863 5.51259 104.337 5.47462C104.811 5.43666 105.226 5.37543 105.543 5.29655C105.248 5.25631 104.902 5.23356 104.55 5.23106C104.197 5.22857 103.851 5.24645 103.556 5.28251C103.068 5.3301 102.525 5.35294 101.974 5.34904C101.423 5.34515 100.88 5.31464 100.393 5.26018C100.131 5.23024 99.8373 5.21345 99.5388 5.21134C99.2404 5.20924 98.9465 5.22187 98.6839 5.24811C97.2445 5.34377 95.7 5.37047 94.1747 5.32606C90.6343 5.35078 87.1306 5.45062 83.7236 5.62387C82.2105 5.71942 80.5962 5.74555 79.0007 5.70031C78.7573 5.68365 78.4965 5.6818 78.2528 5.69503C76.3707 5.93935 74.7062 5.62353 72.9544 5.5816C71.7792 5.5733 71.6102 5.29338 70.6277 5.23154C71.1852 4.9652 72.7661 5.00593 73.5154 4.80852C73.008 4.75505 72.4431 4.72831 71.877 4.73098C71.3109 4.73365 70.7633 4.76563 70.2887 4.82373C69.3256 4.92727 68.1832 4.95102 67.1044 4.88992C66.3542 4.86136 65.5901 4.85596 64.8395 4.87393C62.58 4.91858 60.2933 4.91235 58.0232 4.85535C56.3371 4.82304 54.6609 4.89694 53.2353 5.06646C52.9166 4.81505 54.1562 4.77736 54.3711 4.59306C54.0207 4.56209 53.638 4.54984 53.2625 4.55757C52.8869 4.56531 52.5319 4.59275 52.234 4.63708C50.6449 4.7394 49.0951 4.86248 47.5945 5.00551C46.6097 5.10033 45.4865 5.12939 44.3888 5.08845C42.1068 5.06221 39.8298 5.10451 37.6356 5.2139C36.148 5.26835 34.628 5.28879 33.1051 5.27481C32.3573 5.26953 31.4598 5.26318 31.6538 5.03228C31.654 5.00694 31.526 4.97649 31.4621 4.9507C29.8796 5.12112 29.0706 4.69731 27.7455 4.73441C25.2256 4.80007 22.6688 4.81315 20.1169 4.77344C17.7029 4.67473 15.2597 4.6137 12.8103 4.59092C9.91948 4.56681 7.04506 4.46553 4.26519 4.28984C3.01782 4.19758 1.94992 4.02584 1.23415 3.80237C0.518374 3.57891 0.196577 3.31679 0.320793 3.05841C0.472032 2.82298 1.11379 2.72194 2.45943 2.79901C4.02925 2.87327 5.62238 2.92265 7.22346 2.94668C12.4475 3.03921 17.6874 3.01531 22.844 2.87542C27.5496 2.70013 32.3437 2.6138 37.1624 2.61758C39.8824 2.65618 42.6014 2.60983 45.2192 2.48023C46.5012 2.39661 47.8951 2.39319 49.2151 2.47044C49.8783 2.50043 50.56 2.50525 51.2236 2.48463C53.4225 2.46288 55.6347 2.48557 57.8258 2.55237C59.9142 2.59889 62.0149 2.56935 64.0232 2.46523C66.3176 2.34294 68.6515 2.24803 71.0125 2.18098C71.5681 2.1849 72.3164 2.12684 72.4861 2.29274C72.762 2.56496 73.8947 2.5434 74.6213 2.52741C76.8866 2.48007 79.1727 2.51733 81.4592 2.50392C82.303 2.49671 83.1282 2.45962 83.896 2.39443C84.957 2.34056 86.0901 2.35746 87.1222 2.44256C87.5859 2.48472 88.0906 2.50437 88.593 2.49983C89.0954 2.49529 89.5806 2.4667 90.0071 2.41648C91.0551 2.26763 92.1438 2.43158 92.8697 2.50427C94.6204 2.71512 95.7328 2.54983 96.9097 2.31743L92.8072 2.28845C93.022 2.12949 93.5568 2.04036 94.091 2.04413C97.6165 2.06903 101.101 1.89094 105.01 2.00723C103.962 2.24054 102.509 2.14161 101.846 2.31851C102.976 2.40891 104.218 2.41769 105.35 2.34326C109.176 2.19291 112.892 2.4472 116.609 2.61281C117.931 2.96 119.386 2.76756 120.882 2.70633C123.014 2.67613 125.115 2.5989 127.144 2.47607ZM168.134 4.68286C166.694 4.6899 165.251 4.64974 163.861 4.564C163.453 4.54426 163.031 4.54128 162.622 4.55524C162.216 4.55238 161.767 4.60832 161.958 4.71525C161.994 4.73058 162.045 4.74437 162.109 4.7557C162.173 4.76703 162.247 4.77564 162.328 4.781C162.409 4.78635 162.493 4.78832 162.577 4.78676C162.661 4.78521 162.741 4.78016 162.813 4.77196C163.256 4.72809 163.746 4.70418 164.247 4.70189C164.749 4.6996 165.251 4.71899 165.719 4.75871C166.125 4.79168 166.566 4.80205 166.992 4.78866C167.419 4.77527 167.814 4.73865 168.134 4.68286ZM87.9178 4.76243C87.3545 4.74697 86.7855 4.76022 86.2653 4.8009C85.745 4.84159 85.2907 4.90836 84.946 4.99483C84.689 5.07325 84.1969 5.1669 84.7519 5.25106C84.8547 5.26728 84.9757 5.27826 85.1036 5.28296C85.2316 5.28767 85.3623 5.28594 85.4838 5.27795C85.6053 5.26997 85.7136 5.25599 85.7987 5.23729C85.8837 5.21859 85.9428 5.19578 85.9704 5.17098C86.1217 4.92711 87.2331 4.89273 87.9178 4.76243ZM112.822 3.21953C113.364 3.28267 113.979 3.31527 114.598 3.31368C115.217 3.31208 115.816 3.27635 116.327 3.2105C115.769 3.15849 115.161 3.13261 114.552 3.13491C113.944 3.13721 113.352 3.16763 112.822 3.22376L112.822 3.21953ZM118.86 4.57133C117.597 4.52264 116.304 4.57094 115.248 4.7063C116.851 4.65427 117.983 4.76784 118.86 4.55866L118.86 4.57133ZM71.36 4.41743L69.6714 4.48575C69.2225 4.50791 68.3892 4.50626 68.6661 4.63068C69.1133 4.84077 69.5422 4.63686 69.9485 4.59328C70.3548 4.54969 71.0167 4.60927 71.36 4.42166L71.36 4.41743ZM171.792 4.1428C170.848 4.07904 169.828 4.09002 168.95 4.1734C169.386 4.22716 169.892 4.25345 170.397 4.2487C170.902 4.24395 171.381 4.2084 171.77 4.14688L171.792 4.1428ZM145.869 4.66074C148.005 4.75607 148.325 4.74143 149.609 4.53512C148.379 4.59886 147.121 4.64224 145.847 4.6648L145.869 4.66074ZM92.812 4.62807C93.7089 4.71042 94.478 4.72852 94.9496 4.5207C94.5649 4.50393 94.1687 4.50529 93.7935 4.52466C93.4183 4.54403 93.0746 4.58086 92.7906 4.63214L92.812 4.62807ZM118.998 3.20825C119.489 3.21172 119.874 3.19333 120.259 3.17493C120.644 3.15653 120.772 3.10675 120.751 3.08971C120.73 3.07267 120.26 3.01446 119.961 3.03768C119.745 3.0501 119.547 3.07179 119.38 3.10126C119.214 3.13072 119.083 3.16723 118.998 3.20825ZM226.308 3.23135C226.629 3.23362 227.013 3.23634 227.014 3.13499C226.829 3.11017 226.615 3.09553 226.395 3.09261C226.095 3.0905 225.668 3.08748 225.71 3.18068C225.752 3.27389 225.988 3.23331 226.223 3.23075L226.308 3.23135ZM87.4084 4.27739C87.3413 4.24893 87.2302 4.22522 87.0917 4.20978C86.9532 4.19434 86.7946 4.18801 86.6397 4.19174C86.362 4.18978 86.1907 4.23923 86.3399 4.28674C86.4091 4.305 86.4958 4.3204 86.595 4.33199C86.6941 4.34358 86.8035 4.35112 86.9164 4.35416C87.0108 4.35102 87.096 4.34164 87.1582 4.32751C87.2203 4.31339 87.2558 4.29535 87.2588 4.27634L87.4084 4.27739ZM145.794 3.11456C146.179 3.11728 146.606 3.09918 146.65 2.99813C146.65 2.99813 146.415 2.95002 146.287 2.95334C146.158 2.95666 145.517 2.97324 145.431 3.06554C145.26 3.077 145.516 3.09571 145.645 3.11351L145.794 3.11456ZM169.812 3.01815L168.979 3.01226C168.723 3.01045 168.68 3.01015 168.979 3.0376C169.134 3.04495 169.294 3.04608 169.449 3.04092L169.812 3.01815ZM105.028 2.56058C105.021 2.5725 105.028 2.58468 105.048 2.59619C105.068 2.6077 105.101 2.61827 105.144 2.62709C105.187 2.63591 105.239 2.64276 105.296 2.64715C105.354 2.65154 105.415 2.65334 105.476 2.65243C105.538 2.65343 105.599 2.65202 105.657 2.64828C105.716 2.64454 105.769 2.63854 105.815 2.63063C105.861 2.62272 105.898 2.61304 105.924 2.60216C105.95 2.59128 105.965 2.57941 105.968 2.56722C105.98 2.55516 105.976 2.54263 105.958 2.5307C105.939 2.51877 105.906 2.50781 105.862 2.49876C105.818 2.48972 105.764 2.48285 105.704 2.47878C105.645 2.4747 105.581 2.47354 105.52 2.47537C105.454 2.47108 105.385 2.46941 105.317 2.47048C105.248 2.47156 105.182 2.47535 105.122 2.48163C105.062 2.4879 105.01 2.49653 104.968 2.50701C104.926 2.51749 104.896 2.5296 104.878 2.54263L105.028 2.56058ZM107.833 4.72994C107.803 4.71958 107.762 4.71051 107.714 4.70332C107.665 4.69613 107.61 4.69097 107.552 4.68817C107.494 4.68537 107.433 4.685 107.375 4.68707C107.317 4.68915 107.262 4.69363 107.214 4.70023C107.154 4.7075 107.107 4.71794 107.077 4.7304C107.046 4.74285 107.035 4.75684 107.042 4.77081C107.062 4.7818 107.096 4.79175 107.139 4.79981C107.182 4.80787 107.235 4.8138 107.291 4.8171C107.348 4.8204 107.407 4.82098 107.464 4.81877C107.521 4.81657 107.574 4.81165 107.619 4.80444C107.619 4.80444 107.598 4.73672 107.684 4.71199L107.833 4.72994ZM180.722 4.33679C180.705 4.32406 180.675 4.31205 180.635 4.30149C180.594 4.29092 180.543 4.28202 180.486 4.2753C180.428 4.26859 180.364 4.26421 180.298 4.26241C180.233 4.26061 180.166 4.26144 180.103 4.26484C179.889 4.26334 179.526 4.30722 179.526 4.32411C179.526 4.341 179.867 4.38987 180.102 4.38308C180.337 4.3763 180.359 4.33422 180.573 4.31884L180.722 4.33679Z' fill='%23C62828'/%3E%3Cpath d='M114.446 6.27594C116.307 6.00557 118.657 5.89472 120.987 5.96738C120.088 6.22286 120.088 6.22709 118.848 6.24367C117.459 6.26764 115.964 6.22753 114.446 6.27594Z' fill='%23C62828'/%3E%3Cpath d='M148.218 1.76331C147.077 1.85183 145.847 1.89203 144.606 1.88138C145.89 1.66663 145.89 1.66663 148.218 1.76331Z' fill='%23C62828'/%3E%3Cpath d='M132.331 6.34279C132.571 6.28103 132.913 6.23772 133.3 6.21979C133.688 6.20185 134.099 6.21034 134.468 6.24387C134.503 6.24821 134.533 6.25428 134.553 6.26146C134.574 6.26864 134.584 6.2767 134.584 6.28481C134.584 6.29293 134.573 6.30082 134.553 6.30771C134.532 6.31461 134.503 6.32027 134.467 6.32411C134.166 6.36787 133.803 6.39294 133.424 6.39625C133.045 6.39957 132.665 6.381 132.331 6.34279Z' fill='%23C62828'/%3E%3Cpath d='M170.95 5.37848C170.224 5.34379 169.496 5.4949 168.386 5.36037C169.263 5.24409 170.01 5.3296 170.651 5.30457C170.813 5.30671 170.973 5.31502 171.121 5.32901L170.95 5.37848Z' fill='%23C62828'/%3E%3Cpath d='M95.1338 5.69183C95.0492 5.71818 94.9182 5.73725 94.7649 5.74549C94.6116 5.75373 94.4464 5.75058 94.3001 5.73663C94.2647 5.73229 94.2353 5.72621 94.2149 5.71903C94.1945 5.71184 94.1838 5.7038 94.1839 5.69569C94.1839 5.68757 94.1947 5.67967 94.2152 5.67277C94.2357 5.66588 94.2652 5.66023 94.3007 5.65639C94.3919 5.63041 94.5269 5.61177 94.6827 5.60363C94.8385 5.5955 95.0056 5.59837 95.1557 5.61176C95.2197 5.62488 95.2409 5.6588 95.1338 5.69183Z' fill='%23C62828'/%3E%3Cpath d='M171.525 5.636C171.375 5.63495 171.226 5.66345 171.097 5.65832C170.969 5.65319 170.734 5.61775 170.735 5.60085C170.735 5.58396 171.034 5.53962 171.248 5.56225C171.461 5.58487 171.44 5.61006 171.525 5.636Z' fill='%23C62828'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_134_2072'%3E%3Crect width='255' height='5' fill='white' transform='translate(0.337891 0.625977) rotate(0.404667)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    bottom: -2px;
    left: -6px;
}


//hover
%hover {
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 2;
    padding: 0 6px;
}
%hover:before{
    content: '';
    position: absolute;
    display: inline-block;
    width: calc(100% + 12px);
    height: 5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='219' height='6' viewBox='0 0 219 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M115.267 4.54895C116.55 4.48408 117.799 4.2808 118.908 4.63545C122.081 4.79547 125.241 5.06795 128.505 4.89928C129.499 4.81896 130.506 4.82624 131.497 4.9209C130.939 5.10255 129.691 4.99876 128.812 5.24096C132.139 5.35773 135.089 5.18473 138.116 5.19771C138.318 5.20806 138.521 5.19098 138.712 5.14766C138.902 5.10433 139.075 5.03581 139.218 4.94685L135.731 4.91658C136.825 4.60974 138.054 4.54264 139.218 4.72628C140.005 4.88227 140.841 4.91349 141.652 4.8171C142.461 4.71208 143.294 4.70474 144.107 4.79548C145.03 4.88427 145.968 4.90025 146.897 4.84305C147.59 4.77619 148.289 4.73862 148.99 4.7306C150.936 4.7306 152.882 4.7652 154.828 4.7306C155.525 4.7306 156.467 4.696 156.704 4.9728C156.843 5.1458 157.492 5.10255 157.959 5.0939C159.996 5.05065 161.963 4.91225 163.937 4.81278C165.694 4.71064 167.461 4.68608 169.224 4.73926C171.107 4.81711 172.962 4.84738 174.804 4.83008C175.379 4.8148 175.955 4.82781 176.526 4.86901C177.662 4.95119 178.809 4.95119 179.944 4.86901C182.228 4.74617 184.523 4.71006 186.814 4.76088C190.999 4.84306 194.996 4.6614 199.034 4.56625C203.491 4.45813 207.892 4.44949 212.363 4.59221C213.758 4.63114 215.083 4.67871 216.436 4.77386C217.629 4.85603 218.18 4.77386 218.305 4.52301C218.584 3.99104 217.147 3.43744 214.992 3.22551C212.589 3.02542 210.17 2.90415 207.745 2.86221C205.653 2.80166 203.561 2.76706 201.51 2.63299C200.394 2.55946 196.139 2.59839 195.002 2.63299C193.866 2.66759 193.189 2.23075 191.843 2.3951C191.787 2.36915 191.669 2.33888 191.689 2.31293C191.857 2.0664 191.083 2.05342 190.455 2.05342C189.158 2.05342 187.818 2.05343 186.577 2.10101C184.659 2.20377 182.733 2.23699 180.809 2.20048C179.891 2.15313 178.968 2.17783 178.061 2.274C176.84 2.45998 175.375 2.49025 174.099 2.6373C173.513 2.72104 172.907 2.73425 172.314 2.67622C172.502 2.48592 173.555 2.45133 173.29 2.19616C171.946 2.36801 170.573 2.43485 169.203 2.3951C167.215 2.27833 165.318 2.37348 163.386 2.36051C162.742 2.38428 162.097 2.38428 161.454 2.36051C160.547 2.29474 159.629 2.31663 158.734 2.42538C157.813 2.54321 156.864 2.54321 155.944 2.42538C156.641 2.22643 157.938 2.26968 158.42 1.99288C157.576 1.928 157.443 1.65553 156.439 1.62958C154.939 1.58633 153.537 1.25762 151.933 1.50415C151.72 1.52112 151.504 1.52112 151.291 1.50415C149.942 1.45896 148.589 1.48356 147.246 1.57768C144.289 1.69878 141.387 1.91502 138.318 1.88042C137.036 1.83579 135.75 1.8633 134.475 1.9626C133.988 2.01108 133.491 2.00079 133.011 1.93232C132.122 1.81849 131.206 1.80823 130.311 1.90205C129.753 1.97444 129.176 1.96704 128.623 1.88042C129.355 1.69669 130.145 1.61974 130.932 1.65553C133.199 1.78095 134.482 1.34845 136.324 1.22303C135.929 1.13661 135.519 1.08138 135.103 1.05867C133.443 1.03705 131.776 1.00245 130.116 1.01975C128.721 1.01975 127.208 0.933249 126.112 1.24897C125.721 1.31887 125.313 1.3481 124.906 1.33548C123.607 1.33771 122.311 1.40131 121.028 1.52577C118.901 1.72904 116.752 1.54739 114.611 1.52577C114.137 1.46838 113.649 1.46838 113.174 1.52577C111.326 2.07072 109.213 1.64255 107.204 1.5993C106.904 1.5993 106.764 1.51713 106.75 1.4436C106.737 1.37008 106.883 1.31817 107.197 1.29222C107.734 1.24897 108.731 1.29222 108.766 1.19707C108.871 0.855399 110.161 0.859726 110.956 0.712676C110.401 0.621152 109.817 0.621152 109.261 0.712676C106.943 1.07459 104.559 1.25047 102.168 1.236C101.958 1.23619 101.748 1.24776 101.54 1.27059C99.4479 1.49982 97.1392 1.58199 94.9212 1.73337C94.5864 1.75499 94.0145 1.73337 94.14 1.94962C99.0991 1.90637 104.107 1.51713 109.401 2.02315C107.881 2.13843 106.349 2.18468 104.818 2.16154C102.255 2.13398 99.6906 2.21926 97.1462 2.41673C96.5603 2.4643 95.4513 2.69352 95.4164 2.26967C95.3117 2.23952 95.1971 2.22474 95.0816 2.22643C93.861 2.33023 92.5428 2.10965 91.4548 2.22643C89.421 2.39586 87.3662 2.44798 85.3169 2.38212C82.5968 2.38212 79.8138 2.38212 77.1634 2.31292C74.2689 2.23939 71.458 2.46862 68.6193 2.31292C68.2647 2.29744 67.9083 2.31052 67.5591 2.35184C65.3303 2.55921 63.0819 2.67481 60.8284 2.69785C58.6872 2.76272 56.7482 2.97031 54.6069 3.16061C55.7089 3.43741 56.8668 3.04817 57.8223 3.23414C57.5915 3.32112 57.325 3.3647 57.0551 3.35957C55.974 3.35957 54.8859 3.35957 53.8118 3.35957C52.7377 3.35957 52.5563 2.97465 51.5171 3.07845C50.4738 3.19018 49.4109 3.21345 48.3575 3.14764C48.2927 3.15275 48.2271 3.15275 48.1622 3.14764C47.3383 2.99817 46.459 3.01483 45.6513 3.19522C42.9943 3.62071 40.2551 3.81575 37.5117 3.77477C37.1782 3.7723 36.8455 3.79554 36.5213 3.84397C34.394 4.10779 32.0574 4.23754 29.7697 4.38459C26.9798 4.56192 24.0225 4.44514 21.2814 4.67436C20.2352 4.15969 19.7678 4.10346 17.5359 4.24186C16.5664 4.30674 15.6388 4.41054 14.6972 4.50136C13.8061 4.59206 12.9071 4.64982 12.0049 4.67436C8.76861 4.74356 5.55321 4.87332 2.30295 4.88629C1.96239 4.89365 1.62377 4.92117 1.29164 4.96847C0.963827 5.00739 0.705753 5.08524 0.761552 5.17606C0.81735 5.26689 1.27767 5.27986 1.61944 5.28419C5.06498 5.31879 8.45475 5.53072 11.97 5.40097C13.1145 5.36843 14.2611 5.38577 15.4016 5.45287C16.4665 5.5134 17.5381 5.5134 18.603 5.45287C22.2534 5.25229 25.9225 5.21615 29.5814 5.34475C33.8011 5.49612 38.0488 5.46151 42.3034 5.40529C44.5284 5.37934 46.7394 5.31447 48.9852 5.3188C51.2311 5.32312 53.5677 5.21932 55.8624 5.3188C56.1477 5.33621 56.435 5.33621 56.7203 5.3188C58.5023 5.20832 60.2948 5.17797 62.0839 5.22798C63.9556 5.1845 65.8298 5.20182 67.6986 5.27988C71.186 5.50045 74.6734 5.51342 78.2236 5.561C79.4402 5.61721 80.6618 5.61721 81.8784 5.561C82.9595 5.4745 81.711 5.388 81.8784 5.3015C82.9525 5.32745 84.2358 5.20635 84.8287 5.56533C85.0711 5.62279 85.3297 5.64926 85.589 5.64318L90.6736 5.64318L90.6736 5.5091L86.2097 5.40098C87.0084 5.28261 87.8319 5.24176 88.6509 5.27988C91.9221 5.34043 95.0816 5.10255 98.3389 5.12417C98.9527 5.12417 99.6083 5.08958 99.685 4.89928C99.1674 4.88014 98.6479 4.89755 98.1366 4.95117C97.7042 4.91657 97.2926 4.88197 97.2438 4.75654C97.195 4.63112 97.5926 4.63112 97.8925 4.58355C99.6362 4.31107 101.763 4.36297 103.647 4.22025C103.718 4.21374 103.791 4.21374 103.863 4.22025C104.442 4.22025 105.07 4.25918 105.223 4.42785C105.376 4.59653 104.986 4.72195 104.302 4.77818C103.968 4.80413 103.605 4.77817 103.242 4.82575C102.879 4.87332 102.37 4.87765 102.545 5.02902C104.351 5.10255 106.102 4.85603 107.992 4.95118C107.797 5.215 106.325 5.02902 106.269 5.2842C109.829 5.45766 113.41 5.29729 116.892 4.80846C114.527 4.70033 112.337 5.04201 110.015 4.83441C111.737 4.65276 113.53 4.63113 115.267 4.54895ZM77.1215 2.64162C77.9436 2.71749 78.7802 2.70873 79.5976 2.61567C79.7203 2.59371 79.8487 2.58698 79.9756 2.59589C80.1025 2.60479 80.2253 2.62916 80.3369 2.66757C80.4904 2.77137 80.0998 2.81895 79.7511 2.83192C79.4007 2.85144 79.0482 2.85144 78.6979 2.83192C77.5071 2.75501 76.3097 2.72468 75.1128 2.7411C75.7631 2.61897 76.4482 2.58504 77.1215 2.64162ZM145.237 2.01883C145.293 1.9107 145.886 1.86745 146.277 1.94098C146.667 2.0145 146.332 2.12263 146.109 2.20048C145.304 2.40108 144.435 2.48252 143.57 2.43835C144.17 2.3086 145.105 2.27833 145.237 2.01883V2.01883ZM119.298 4.04292C120.289 3.91068 121.314 3.91068 122.304 4.04292C121.311 4.15746 120.292 4.15746 119.298 4.04292V4.04292ZM120.24 2.51187C119.228 2.65702 118.186 2.7066 117.15 2.65893C117.917 2.45565 118.928 2.57674 120.24 2.51187V2.51187ZM158.894 2.63298C159.257 2.60271 159.591 2.3778 160.01 2.59838C160.24 2.72813 159.529 2.71948 159.138 2.74111L157.743 2.8103C157.987 2.62 158.524 2.66758 158.894 2.63298V2.63298ZM74.4223 3.25576C73.6217 3.34706 72.8034 3.3631 71.9951 3.30335C72.7854 3.16353 73.6193 3.14718 74.4223 3.25576ZM90.9386 2.78867C92.0267 2.57242 92.3336 2.55513 94.1331 2.64595C93.1008 2.65028 92.1383 2.73245 90.9386 2.78867ZM137.516 2.68488C137.803 2.59029 138.117 2.53167 138.44 2.51237C138.763 2.49307 139.089 2.51348 139.399 2.57243C138.791 2.69048 138.15 2.72878 137.516 2.68488V2.68488ZM116.271 4.23322C116.013 4.25917 115.699 4.2635 115.574 4.18133C115.448 4.09915 115.832 4.1078 116.006 4.09482C116.32 4.09482 116.662 4.09483 117.073 4.06023C116.837 4.16333 116.559 4.22327 116.271 4.23322V4.23322ZM26.0661 4.72194C26.1079 4.81277 25.7383 4.81277 25.4872 4.81709C25.3062 4.81824 25.1258 4.80517 24.9501 4.77817C24.9501 4.696 25.2919 4.69166 25.5499 4.67436C25.808 4.65706 26.0521 4.66572 26.08 4.72194L26.0661 4.72194ZM144.54 2.86221C144.706 2.86733 144.869 2.89076 145.021 2.9314C145.14 2.97897 145.021 3.03088 144.777 3.03088C144.546 3.04743 144.313 3.01545 144.114 2.94005C144.17 2.88383 144.338 2.85356 144.554 2.86221L144.54 2.86221ZM94.5934 4.2808C94.5237 4.37595 94.2098 4.39758 93.861 4.4019C93.7564 4.4019 93.5542 4.37162 93.5611 4.35432C93.5611 4.25052 93.9587 4.2462 94.2586 4.23322C94.3775 4.24049 94.4945 4.25647 94.6074 4.2808L94.5934 4.2808ZM74.1991 4.41919C74.3314 4.41271 74.4644 4.41271 74.5967 4.41919C74.7641 4.41919 74.7292 4.44514 74.506 4.44514L73.8085 4.44514C73.9424 4.43155 74.0775 4.42289 74.2131 4.41919L74.1991 4.41919ZM128.602 4.80846C128.358 4.80846 128.205 4.77386 128.226 4.71331C128.247 4.65276 128.421 4.6268 128.637 4.6268C128.854 4.6268 129.014 4.6614 129.021 4.71762C128.973 4.74879 128.914 4.77306 128.849 4.78874C128.784 4.80442 128.714 4.81116 128.644 4.80846L128.602 4.80846ZM126.852 2.42538C126.932 2.40797 127.018 2.40204 127.102 2.40803C127.187 2.41402 127.268 2.43178 127.34 2.45997C127.34 2.45997 127.277 2.52053 127.187 2.5335C127.014 2.55945 126.832 2.54879 126.67 2.50322C126.733 2.47727 126.796 2.43835 126.894 2.42538L126.852 2.42538ZM64.9924 3.13035C65.1947 3.13035 65.4527 3.13035 65.4737 3.18658C65.3171 3.22321 65.1525 3.24508 64.9854 3.25145C64.8941 3.26242 64.8001 3.26195 64.7091 3.25006C64.6181 3.23818 64.5318 3.21512 64.4553 3.18225C64.6576 3.16495 64.8459 3.139 65.0342 3.13035L64.9924 3.13035Z' fill='%23C62828'/%3E%3C/svg%3E%0A");    left: -6px;
    top: 50%;
    transform: translate(calc(-100% - 6px), -50%);
    transition: .4s;
    z-index: 10;
}
%hover:hover:before,
%hover.active:before,
%hover.router-link-active:before{
    transform: translate(0%, -50%);
} 

//scroll bar

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: $secondary-color;
  border-radius: 10px;
}


//parallaxe

.parallaxe{
    // transform: translateY(-160px);
}


// vue animation

.router-enter-active, .router-leave-active {
  transition: opacity 0.4s;
}

.router-enter, .router-leave-to{
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

//animation

.move-up{
    transform: translateY(100%);
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}
.move-up-wrap{
    overflow: hidden;
}
.animate.anim-active.move-up{
    transform: translateY(0%);
}



.fade-up{
    transform: translateY(100px);
    opacity: 0;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}
.animate.anim-active.fade-up{
    opacity: 1;
    transform: translateY(0px);
}

.fade-in{
    opacity: 0;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}
.animate.anim-active.fade-in{
    opacity: 1;
}

.scale-in{
    opacity: 0;
    transform: scale(0.5);
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}
.animate.anim-active.scale-in{
    opacity: 1;
    transform: scale(1); 
}

.animate.delay-1{
    transition-delay: 0.1s;
}
.animate.delay-2{
    transition-delay: 0.2s;
}
.animate.delay-3{
    transition-delay: 0.3s;
}
.animate.delay-4{
    transition-delay: 0.4s;
}
.animate.delay-5{
    transition-delay: 0.5s;
}
.animate.delay-6{
    transition-delay: 0.6s;
}





